.icon{
    display: grid;
    border-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 300px;
    height: 300px;
}
.icon{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: aqua;
}
.icon:hover{
    width: 310px;
    height: 310px;
    cursor: pointer;
}
.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.page{
    cursor: pointer;
 
}
.number{
    font-weight: bold;
    cursor: pointer;
}