.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.icon{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 250px;
    height: 250px;
}
.icon img{
    width: 250px;
}
