.header{
  padding:0px 60px;
  }
  .header{
    grid-area: header;
  }
  .header_block1{
    grid-area: header;
    display: grid;
    padding-bottom: 20px;
    padding-top: 20px;
    grid-template: 1fr / 1fr  minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    align-items: center;
  }
  .header_block2{
    grid-area: header;
    display: grid;
    padding-bottom: 20px;
    padding-top: 20px;
    grid-template-columns: 230px 160px 1fr 25%;
    align-items: center;
    justify-content: space-between;
  }
  .header_logo {
    grid-column: 1/3;
  }
  .header_logo2{
    margin-right: 10px;
  }
  
  .header_list{
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
  .header_list:hover{
    text-decoration: underline;
  }
  
  
  
  .header_input{
    display: grid;
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    grid-template-columns: 10% 68% 2% 20%;
    align-items: center;
    margin-left: 15px;
  }
  .header_input img{
    padding: 20px;
  }
  .delite{
    border: none;
    outline: none;
    opacity: 0;
  }
  .inpt{
    border: none;
    height: 80%;margin: 5px;
    font-size: 20px;
    outline: none; 
  }
  
  
  .input_btn{
    opacity: 0;
    background-color: red;
    border-radius: 10px;
    height: 80%;
    text-align: center;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 10px;
    border: none;
    color: white;
    font-size: 15px;
  }
  .header_input:hover .input_btn,
  .header_input:active .input_btn,
  .header_input:focus .input_btn{
  
    outline: none;
    opacity: 1;
    margin-left: -20px;
  }
  .header_input:hover .delite,
  .header_input:active .delite,
  .header_input:focus .delite{
    outline: none;
    opacity: 1;
    margin-left: -30px;
  }
  .header_input:hover .input_btn:hover{
    background-color: rgba(209, 0, 0, 0.925);
    color: white;
  }
  .sidebar_menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;  
  }
  .sidebar_box_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }
  .sidebar_box_icon:hover{
    text-decoration: underline;
  }
  .sidebar_link{
    color: black;
    font-size: 20px;
    
    text-decoration: none;
    /* padding-right: 20px; */
  }
  .basket_number{
    display: flex;
    text-align: center;
    position: absolute;
    background-color: red;
    border-radius: 50px;
    color: white;
    padding: 3px 5px;

    width: 1fr;
    margin-top: -62px;
    margin-left: 62px;
  }
  .NavLink{
    text-decoration: none;
  }
  








  
  /* делаем бургер */
  .mobile_menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    top: 0;
    background-color: #ff0000;
    left: 0;
    right: 0;
    height: 65px;
    z-index: 9999999;
    border-radius: 15px;
  }
  .mobile_menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
  }
  .mobile_menu__icon {
    display: block;
    position: relative;
    background: rgb(255, 255, 255);
    width: 70%;
    height: 3px;
    transition: .4s;
  }
  .mobile_menu__icon::after, .mobile_menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 3px;
    transition: .4s;
  }
  .mobile_menu__icon::after {
    top: 8px;
  }
  .mobile_menu__icon::before {
    top: -8px;
  }
  .mobile_menu_text{
    padding-left: 10px;
    font-size: 20px;
    color: white;
  }
  .mobile_menu__container {
    position: absolute;
    /* text-align: center; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
  
    top: 165px;
    left: 0px;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    overflow:scroll;
    box-shadow: 0px 1300px 0px rgba(0, 0, 0, 0.281);
    background-color: white;
  }
  .mobile_menu__container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .mobile_menu__list {
    display: grid;
    grid-template-columns: 20% 1fr;
    width: 1459px;
    height: 1950px;
    transition: .5s;
    list-style: none;
    padding-left: 0;
    /* margin-top: -300px; */
  }
  .mobile_menu__item {
    font-size: 23px;   
    align-items: center;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 90%;
  }
  .mobile_menu__item:hover{
    border-radius: 20px;
    background-color: #ffffff;
  }
  .mobile_menu__link {
    text-decoration: none;
    align-items: center;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 40px 1fr;
  }
  .mobile_menu_section_one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
  }
  .mobile_menu_section_one img{
    border-radius:30px ;
    width: 380px;
  }
  .mobile_menu_section_material_box{
    display: flex;
    padding-left: 20px;
  }
  .mobile_menu_section_material_name{
    display: grid;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 4px #000;
    position: relative;
    z-index: 1;
    font-size: 20px;
    bottom: 95px;
    left: 20px;
    text-align: center;
    width: 100px;
    height: 50px;
  }
  .mobile_menu_section_material_rock_start img{
    height: 140px;
    border-radius: 50%;
    box-shadow: 0 2px 16px rgb(0 0 0 / 16%);
  }
  .mobile_menu_section_material_rock{
    align-items: center;
    justify-content: center;
    margin-left: -15px;
  }
  .mobile_menu_section_material_rock img{
    box-shadow: 0 2px 16px rgb(0 0 0 / 16%);
    border-radius: 50%;
    height: 140px;
  }
  .mobile_menu_section_four{
    padding-bottom: 30px;
  }
  .mobile_menu_section_title{
    font-size: 20px;
    color: #707070;
    padding: 20px 0px;
  }
  .mobile_menu_section_four_box{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .mobile_menu_section img{
    width:1160px;
    border-radius: 30px;
  }
  .mobile_menu_section_four_rock{
    display: grid;
    grid-template-columns: 70px 1fr;
    justify-content: center;
    align-items: center;
  }
  .mobile_menu_section_four_rock p{
    display:flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 5px;
  }
  .mobile_menu_section_four_rock:hover{  
    text-decoration:underline;  
  }
  .mobile_menu_section_four_rock a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-right: 5px;
  }
  .mobile_menu_section_four_rock img{
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
  .mobile_menu__checkbox {
    display: none;
    height: 70px;
    width: 100px;
    cursor: pointer;
    
    background-color: #707070;
  }
  .mobile_menu__checkbox:checked ~ .mobile_menu__nav {
    opacity: 1;
  }
  .mobile_menu__checkbox:checked ~ .mobile_menu__container {
    height: 100%;
  }
  .mobile_menu__checkbox:checked ~ .mobile_menu__btn .mobile_menu__icon {
    background: transparent;
  }
  .mobile_menu__checkbox:checked ~ .mobile_menu__btn .mobile_menu__icon::before, .mobile_menu__checkbox:checked ~ .mobile_menu__btn .mobile_menu__icon::after {
    top: 0;
  }
  .mobile_menu__checkbox:checked ~ .mobile_menu__btn .mobile_menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .mobile_menu__checkbox:checked ~ .mobile_menu__btn .mobile_menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  /* конец бургура */

  