.Delivery li{
  list-style: disc;
}
.box_one{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border:1px solid black;
}
.box_one_header{
  padding: 20px 20px;
  background-color: rgb(226, 226, 226);
}
.box_one_line{
  display: grid;
  justify-content:space-between;
  align-items: center;
}
.box_two{
  border: 1px solid red;
}
.box_two_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.text{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.list{
  cursor: pointer;
}